---
title: Welcome to Middleman
---

.welcome
  .logo
    = image_tag "middleman-logo.svg"
  %h1 Middleman is Running with Gulp!
  .today
  %p.doc
    = link_to "Read Documentation Online", "https://middlemanapp.com", target: "_blank"
